body    {
 background-color: lightpink;

}

h1 {
color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

.live { 
    background-color: hotpink;
    color:whitesmoke;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}



